<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="https://tse1.mm.bing.net/th?id=OIP.HpOUsAsbYuHjvXvHpvyTjQHaE7&pid=Api&P=0" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Seattle WA</h5>
          <p class="card-text">Our main office is in Seattle, WA. Have any questions or concerns, come on by!
             <br> 
        +615 231 4777 
        <br>
        17307 Welcome Ln. 98087 Ballard, WA</p>
    
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="https://tse1.mm.bing.net/th?id=OIP.fApEIoc19ggqhLlekboMcQHaE2&pid=Api&P=0" height="200" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">San Deigo, CA</h5>
          <p class="card-text">Strong support team at our San Diego Location. 
            Live in California? Please feel free to come by and talk to our professional support team.
        <br>
            +370 233 7171
        <br>
            1608 Winners Cr. Chula Vista CA 76510        
    </p>
         
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <img src="https://images.theconversation.com/files/298438/original/file-20191024-119414-8sn6q0.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C5520%2C3685&q=45&auto=format&w=754&fit=clip" height="200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">World-Wide Support</h5>
            <p class="card-text">Our diverse team of experts are available 24/7 from anywhere in the world
                <br>
                call +1 (800) 733 7777
                <br>
                to talk to a support specialist today
            </p>
            
          </div>
        </div>
      </div>

      <div>
        <a href="#" class="btn btn-primary btn-sm" > Home</a>
      </div>
      
 