<div class="container py-4">
       <div class="p-3 mb-2 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">ADMIN interface services</h1>
          <p class="col-md-8 fs-4"><strong>STAY CONNECTED</strong> to the customer through our world-wide database,
          track orders with ease, with our seamless user-interface</p>
          <button class="btn btn-dark btn-lg" type="button">Connect Now</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Human Rescorces</h2>
            <p>Questions or concerns? our HR team is available 24/7 to help with any order inquiries that may arise. We're right here with you. Chat with a support agent today!</p>
            <button class="btn btn-outline-light" type="button">Support</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>AMIN Portal</h2>
            <p>Sync up with your fellow Admin team-members from diferent parts of the world. Network and engage in our growing, thriving, diverse community of like minded creatives looking to make their footprint in this ever-growing tech industry</p>
            <button class="btn btn-outline-secondary" type="button">Sync up Now</button>
          </div>
        </div>
      </div>
  
      
    </div>
