<div class="container py-4">
       <div class="p-3 mb-2 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome to a world<strong> FULL</strong> of possibilities</h1>
          <p class="col-md-8 fs-4"><strong>INSTANTLY</strong> shop through today's <strong>HOTTEST</strong> products!</p>
          <button class="btn btn-dark btn-lg" type="button">Shop Now!</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Make your mark on the world!</h2>
            <p>See what's new and what's <strong>HOT!</strong> Stay in the now with today's latest brands</p>
            <button class="btn btn-outline-light" type="button">Start your journey!</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Break Barriers!</h2>
            <p>Set yourself above the rest with your knowledge of the latest trends! Sign up for our membership and get 10% off your first order!</p>
            <button class="btn btn-outline-secondary" type="button">Sign up now!</button>
          </div>
        </div>
      </div>
  
      
    </div>
